body {
  min-width: 500px;
  min-height: 500px;
  height: 100%;
  background-image:    
    radial-gradient(
      white 55%,
      #222 57%
      ),
     linear-gradient(
      white,
      white
      ),
     linear-gradient(
      57deg,
      #222 50%,
      white 0
      ),
     linear-gradient(
      -57deg,
      #222 50%,
      white 0
      ),
    
    radial-gradient(
      #222 55%,
      transparent 57%
      ),
     linear-gradient(
      57deg,
      transparent 50%,
      #222 0
      ),
     linear-gradient(
      -57deg,
      transparent 50%,
      #222 0
      ),
     linear-gradient(
      #222,
      #222
      );
  background-position: 
    50% -100%,
    0 0, 
    200% 0,
    -100% 0,   
    
    50% -100%,
    200% 0,
    -100% 0,
    0 0;
  background-size:
    10em 10em,
    100% 0,
    50% 100%,
    50% 100%,
    
    10em 10em,
    50% 100%,
    50% 100%,
    100% 0;
  background-repeat: no-repeat;
  animation: 4s sliding-ball infinite;
  }

@keyframes sliding-ball {
  0% {
    background-position: 
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% -100%,
      200% 0,
      -100% 0,
      0 0 ;
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      10em 10em,
      50% 100%,
      50% 100%,
      100% 0;
    }
  6% {
    background-position: 
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% 50%,
      200% 0,
      -100% 0,
      0 0;      
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      10em 10em,
      50% 100%,
      50% 100%,
      100% 0; 
    }
  8% {
    background-position:   
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% 45%,
      200% 0,
      -100% 0,
      0 0;     
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      10em 10em,
      50% 100%,
      50% 100%,
      100% 0;  
    }
  10% {
    background-position:   
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% 52%,
      200% 0,
      -100% 0,
      0 0;       
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      10em 10em,
      50% 100%,
      50% 100%,
      100% 0;
    }
  12% {
    background-position:   
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% 50%,
      200% 0,
      -100% 0,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      10em 10em,
      50% 100%,
      50% 100%,
      100% 0;   
    }
  25% {
    background-position:      
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% 50%,
      200% 0,
      -100% 0,
      0 0;      
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      10em 10em,
      50% 100%,
      50% 100%,
      100% 0; 
    }
  40% {
    background-position:   
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% 70%,
      100% 100%,
      0% 100%,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      10em 5em,
      50% 50%,
      50% 50%,
      100% 50%;   
    }
  50% {
    background-position:
      50% -100%,
      0 0,
      200% 0,
      -100% 0,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  /**/
  55% {
    background-position: 
      50% 50%,
      0 0,
      200% 0,
      -100% 0,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  57% {
    background-position:
      50% 45%,
      0 0,
      200% 0,
      -100% 0,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  59% {
    background-position:
      50% 52%,
      0 0,
      200% 0,
      -100% 0,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  61% {
    background-position:
      50% 50%,
      0 0,
      200% 0,
      -100% 0,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  68% {
    background-position:
      50% 50%,
      0 0,
      200% 0,
      -100% 0,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      10em 10em,
      100% 0,
      50% 100%,
      50% 100%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  83% {
    background-position: 
      50% 70%,
      0 0,
      100% 100%,
      0% 100%,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      10em 5em,
      100% 50%,
      50% 50%,
      50% 50%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  100% {
    background-position:  
      50% calc(100% + 10em),
      0 0,
      200% 200%,
      -100% 200%,
      
      50% calc(100% + 10em),
      200% 200%,
      -100% 200%,
      0 0;    
    background-size:
      20em 5em,
      100% 100%,
      50% 50%,
      50% 50%,
      
      20em 5em,
      50% 50%,
      50% 50%,
      100% 100%;  
    }
  }