.phol{
    min-height: 20vh;
}

html {
    height: 100%; /* <------------ */
}

body {
    text-align: center;
    height: 100%; /* <------------ */
}

.navbar{
    width: 110wh;
    
}


body {
	width: 100wh;
	height: 90vh;
	
	
}

p{margin: 0px;}

nav {color:orange;}